<template>
  <div>
    <b-btn variant="outline-danger" @click="showModal()">Delete</b-btn>
    <b-modal
      ref="my-modal"
      title="Delete Blog"
      cancel-title="Không"
      ok-title="Có"
      @ok="handleOk"
      @cancel="handleCancel"
    >
      <div class="d-block text-center">
        <h4>
          bạn có muốn xóa blog với id:
          <code class="h3">{{ this.$attrs.ID }}</code> này chứ!
        </h4>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  methods: {
    showModal() {
      this.$refs["my-modal"].show();
    },
    handleOk() {
      this.$emit("on-modal", this.$attrs.ID);
    },
    handleCancel() {
      console.log("ID:", this.$attrs.ID);
    },
  },
};
</script>

<style>
.modal-header {
  background-color: #eee;
}
</style>
