<template>
  <div>
    <BlogList :listBlog="list"></BlogList>
  </div>
</template>

<script>
import axios from "axios";

import { BASE_URL } from "../constans/constans.js";
//import BlogList from "../components/blog/BlogList.vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

export default {
  data() {
    return {
      list: [],
    };
  },
  mounted() {
    this.getList();
  },
  computed: {
    BaseURL() {
      return BASE_URL;
    },
  },
  methods: {
    // getAllItem() {
    //   axios
    //     .get(`${BASE_URL}`)
    //     .then((response) => (this.list = response.data))
    //     .catch((error) => alert(error));
    // },
    getList() {
      axios
        .get(this.BaseURL)
        .then((res) => {
          this.list = res.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
