<template>
  <div id="footer">
    <div class="footer-card bg-dark">
      <p>
        Copyright 2022
        <a href="https://devfast.us/">DevFast</a>
      </p>
    </div>
  </div>
</template>

<style>
.footer-card {
  text-align: center;
  margin: 0;
}

.footer-card p {
  font-size: 16px;
  margin: 0;
}

.footer-card a {
  color: #007bff;
  padding: 0;
}
</style>
