<template>
  <div id="main">
    <div>
      <AppHeader />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-link sidebar d-flex">
          <AppMenu />
        </div>
        <main role="main" class="col-md-10 p-0">
          <div id="page">
            <div class="page-body">
              <div class="card">
                <h4 class="card-title">Search Blog</h4>
                <div class="card-body">
                  <form class="form-group row" @submit.prevent="handleSearch()">
                    <!-- <label for="inputSearch" class="col-sm-2 col-form-label"
                      >Title:
                    </label>
                    <div class="col-sm-10">
                      <input
                        id="inputSearch"
                        v-model="keySearch"
                        type="text"
                        class="form-control"
                        placeholder="Search"
                      />
                    </div> -->
                    <b-row class="my-1 w-100">
                      <b-col
                        sm="2"
                        class="d-flex justify-content-center align-items-center"
                      >
                        <label for="inputSearch">Title:</label>
                      </b-col>
                      <b-col sm="10">
                        <b-form-input
                          id="inputSearch"
                          size="lg"
                          placeholder="Enter your title"
                          v-model="keySearch"
                        ></b-form-input>
                      </b-col>
                    </b-row>
                    <div
                      class="d-flex mt-5 justify-content-center"
                      style="flex: 1"
                    >
                      <b-button variant="outline-success" @click="handleSearch">
                        Search
                      </b-button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="listblog mt-4">
                <div class="card">
                  <h4 class="card-title">List Blog</h4>
                  <div class="card-body">
                    <b-table
                      class="align-middle text-center"
                      bordered
                      responsive
                      hover
                      :items="listBlog"
                      :fields="fields"
                    >
                      <template v-slot:cell(category)="{ item }">
                        <span>{{ convertCategory(item.category) }}</span>
                      </template>
                      <template v-slot:cell(public)="{ item }">
                        <span>{{ item.public === true ? "Yes" : "No" }}</span>
                      </template>
                      <template v-slot:cell(position)="{ item }">
                        <span>{{ convertPositon(item.position) }}</span>
                      </template>
                      <template v-slot:cell(Edit)="{ item }">
                        <span>
                          <nuxt-link
                            type="button"
                            class="btn btn-outline-primary"
                            :to="'/blog/' + item.id"
                          >
                            Edit
                          </nuxt-link>
                        </span>
                      </template>
                      <template v-slot:cell(Delete)="{ item }">
                        <span
                          ><b-btn
                            variant="outline-danger"
                            @click="handleDelete(item.id)"
                            >Delete</b-btn
                          ></span
                        >
                      </template>
                    </b-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <div id="footer">
      <AppFooter />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {
  LIST_CATEGORY,
  LIST_POSITION,
  BASE_URL,
} from "../../constans/constans.js";
export default {
  props: {
    /**
     * Props listBlog
     */
    listBlog: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    /**
     * Computed BaseURL
     * @return BaseURL
     */
    BaseURL() {
      return BASE_URL;
    },
  },

  /**
   * Function DaTa
   * @return list
   * @return keySearch
   */
  data() {
    return {
      list: [],
      keySearch: "",
      fields: [
        { key: "id", label: "id" },
        { key: "title", label: "Tin" },
        { key: "category", label: "Loại" },
        { key: "public", label: "Trạng thái" },
        { key: "position", label: "Vị trí" },
        { key: "data_pubblic", label: "Ngày public" },
        "Edit",
        "Delete",
      ],
    };
  },

  /**
   *  Function DaTa
   */
  mounted() {
    this.getList();
  },
  methods: {
    /**
     * Method getList
     */
    getList() {
      axios
        .get(`${BASE_URL}`)
        .then((res) => {
          this.list = res.data;
        })
        .catch((error) => alert(error));
    },

    /**
     * Method HandleDelete
     * @param id
     */
    async handleDelete(itemId) {
      try {
        if (confirm(`Chắc chắn xóa ${itemId} ?`)) {
          const res = await axios.delete(`${BASE_URL}/${itemId}`);
          if (res) {
            this.statusAlert = true;
            this.listBlog = this.listBlog.filter((item) => item.id !== itemId);
            setTimeout(() => {
              this.statusAlert = false;
              alert("Xóa thành công");
            }, 10);
          }
        }
      } catch (error) {
        (error) => alert(error);
      }
    },

    /**
     * Method HandleSearch
     * @param id
     */
    handleSearch() {
      this.$emit("on-search", this.keySearch);
    },

    /**
     * Method ConvertCategory
     * @param id
     * @param category
     * @return name
     */
    convertCategory(categoryId) {
      const category = LIST_CATEGORY.find(
        (cate) => cate.categoryId === categoryId
      );
      return category?.name;
    },

    /**
     * Method ConvertPositon
     * @return ListPosition
     */
    convertPositon(arrPosition) {
      const listPosition = [];
      arrPosition.forEach((position) => {
        listPosition.push(
          LIST_POSITION.find((posi) => posi.positionId === position)
            .positionName
        );
      });
      return listPosition.join(", ");
    },

    /**
     * Clear Input
     */
    onClearInput() {
      this.item = {};
      window.scrollTo(0, 0);
    },
  },
};
</script>
<style>
.page-body {
  background-color: #e0d9d9b0;
  padding: 16px 8px;
  min-height: 1000px;
}

.card {
  border-radius: 5px;
}

.card-title {
  border: 1px solid #d4cece;
  padding: 16px 18px;
  background-color: #f2f2f2;
  margin-bottom: 0;
}

.card-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.card-item-last {
  padding: 10px 0;
}

.title-newpage {
  padding: 10px 0;
}

.title1 {
  height: 40px;
}

.title2 {
  height: 94px;
}

.title3 {
  height: 148px;
}

.btn-img {
  border: 1px solid;
  padding: 1px 6px;
  border-radius: 3px;
}

.input-last {
  display: flex;
  flex-direction: column;
}

.input-last select,
.input-last input {
  height: 40px;
}

.btn-group {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.btn-search {
  display: flex;
  justify-content: center;
  /* padding: 10px 0; */
}
</style>
