<template>
  <div id="main">
    <div>
      <AppHeader />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-link sidebar d-flex">
          <AppMenu />
        </div>
        <main role="main" class="col-md-10 p-0">
          <div id="page">
            <div class="page-body">
              <div class="card">
                <h4 class="card-title">
                  {{ this.$route.params.id ? "Edit Blogs" : " New Blogs" }}
                </h4>
                <div class="card-body">
                  <div class="card-item">
                    <b-row>
                      <b-col sm="12">
                        <label for="title ">Tiêu đề :</label>
                      </b-col>
                      <b-col sm="12">
                        <b-form-input
                          id="title"
                          size="lg"
                          placeholder="Enter your title"
                          v-model="item.title"
                        ></b-form-input>
                      </b-col>
                    </b-row>
                  </div>
                  <div class="card-item">
                    <b-row>
                      <b-col sm="12">
                        <label for="des">Mô tả ngắn:</label>
                      </b-col>
                      <b-col sm="12">
                        <b-form-textarea
                          placeholder="Enter short description..."
                          rows="5"
                          max-rows="6"
                          id="des"
                          size="sm"
                          v-model="item.des"
                        ></b-form-textarea>
                      </b-col>
                    </b-row>
                  </div>

                  <div class="card-item">
                    <b-row>
                      <b-col sm="12">
                        <label for="detail">Chi tiết:</label>
                      </b-col>
                      <b-col sm="12">
                        <b-form-textarea
                          placeholder="Enter detail..."
                          rows="4"
                          max-rows="6"
                          id="detail"
                          size="sm"
                          v-model="item.detail"
                        ></b-form-textarea>
                      </b-col>
                    </b-row>
                  </div>

                  <div class="card-item">
                    <span class="title-newpage">Hình ảnh:</span>
                    <div>
                      <input class="btn-img border-0 ps-0" type="file" />
                    </div>
                  </div>

                  <div class="card-item">
                    <div>
                      <b-form-group label="Vị trí:">
                        <b-form-checkbox-group
                          id="checkbox-group-1"
                          v-model="item.position"
                          :options="ListPositon"
                          text-field="positionName"
                          value-field="positionId"
                          name="position"
                        ></b-form-checkbox-group>
                      </b-form-group>
                    </div>
                  </div>
                  <div class="card-item">
                    <div>
                      <b-form-group label="Public:" :selected="!item.public">
                        <b-form-radio
                          v-model="item.public"
                          name="Yes"
                          :value="true"
                          >Yes</b-form-radio
                        >
                        <b-form-radio
                          v-model="item.public"
                          name="No"
                          :value="false"
                          >No</b-form-radio
                        >
                      </b-form-group>
                    </div>
                  </div>
                  <div class="card-item-last">
                    <div class="row">
                      <div class="col-md-6 col-last">
                        <span class="title-newpage py-1">Loại:</span>
                        <b-form-select
                          v-model="item.category"
                          :options="ListCategory"
                          class="mb-3"
                          value-field="categoryId"
                          text-field="name"
                          disabled-field="notEnabled"
                        ></b-form-select>
                      </div>
                      <div class="col-md-6 col-last">
                        <label for="date-public">Date Public:</label>
                        <b-input-group>
                          <b-form-input
                            id="date-public"
                            v-model="item.data_pubblic"
                            type="text"
                            placeholder="YYYY-MM-DD"
                            autocomplete="off"
                          ></b-form-input>
                          <b-input-group-append>
                            <b-form-datepicker
                              class="m-0"
                              v-model="item.data_pubblic"
                              button-only
                              right
                              locale="en-US"
                              id="date-public"
                            ></b-form-datepicker>
                          </b-input-group-append>
                        </b-input-group>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-submit d-flex pt-2 justify-content-center">
                <div class="m-lg-2">
                  <b-button
                    variant="outline-success"
                    type="submit"
                    @click.prevent="createEditItem()"
                  >
                    Submit
                  </b-button>
                </div>
                <div class="m-lg-2">
                  <b-button
                    variant="outline-info"
                    type="submit"
                    @click="onClearInput()"
                    value="reset"
                  >
                    Clear
                  </b-button>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <div id="footer">
      <AppFooter />
    </div>
  </div>
</template>
<script>
import axios from "axios";
import {
  LIST_CATEGORY,
  LIST_POSITION,
  BASE_URL,
} from "../../constans/constans.js";
import Vue from "vue";
import Toast from "vue-toastification";
import "vue-toastification/dist/index.css";
Vue.use(Toast, {
  transition: "Vue-Toastification__bounce",
  maxToasts: 20,
  newestOnTop: true,
});
export default {
  props: {
    /**
     * Prop listBlogEdit
     */
    listBlogEdit: {
      type: Object,
      default: () => {},
    },

    /**
     * Prop postEdit
     */
    postEdit: {
      type: Object,
      default: () => {},
    },
  },

  /**
   * Get function data
   * @return item
   */
  data() {
    return {
      item: {
        title: "",
        des: "",
        detail: "",
        category: "",
        public: true,
        data_pubblic: "",
        position: [],
        thumbs: "",
      },
    };
  },

  watch: {
    /**
     * Watch Edit
     */
    postEdit() {
      this.item = this.postEdit;
    },
  },

  computed: {
    /**
     * Computed BaseURL
     * @return BaseURL
     */
    BaseURL() {
      return BASE_URL;
    },

    /**
     * Computed ListCategory
     * @return ListCategory
     */
    ListCategory() {
      return LIST_CATEGORY;
    },

    /**
     * Computed ListPositon
     * @return ListPositon
     */
    ListPositon() {
      return LIST_POSITION;
    },
  },

  methods: {
    /**
     * Edit button and Add Button
     * @param id
     */
    async createEditItem() {
      this.item.category = parseInt(this.item.category);
      this.item.public = this.item.public === true;
      this.item.position = this.item.position.map((pos) => parseInt(pos));
      let id = this.$route.params.id;
      try {
        if (id) {
          const res = await axios.put(
            `${BASE_URL}/${this.$route.params.id}`,
            this.item
          );
          if (res) {
            this.$toast.success(
              "Wow, you have successfully updated your blog!",
              {
                position: "top-right",
                timeout: 3000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 0.6,
                showCloseButtonOnHover: false,
                hideProgressBar: false,
                closeButton: "button",
                icon: true,
                rtl: false,
              }
            );
            this.$route.push("/blog");
          }
        } else {
          const res = await axios.post(`${BASE_URL}`, this.item);
          if (res) {
            this.item = {};
            this.$toast.success(
              "Wow, you have successfully created your blog!",
              {
                position: "top-right",
                timeout: 3000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 0.6,
                showCloseButtonOnHover: false,
                hideProgressBar: false,
                closeButton: "button",
                icon: true,
                rtl: false,
              }
            );
            this.$route.push("/blog");
          }
        }
      } catch (error) {
        console.log(error);
      }
    },

    /**
     * Clear Input
     */
    onClearInput() {
      this.item = [];
      window.scrollTo(0, 0);
    },
    //  onContext(ctx) {
    //     // The following will be an empty string until a valid date is entered
    //     this.selected = ctx.selectedYMD
    //   }
  },
};
</script>
<style>
.page-body {
  background-color: #e0d9d9b0;
  padding: 16px 8px;
  min-height: 1000px;
}

.card {
  border-radius: 5px;
}

.card-title {
  border: 1px solid #d4cece;
  padding: 16px 18px;
  background-color: #f2f2f2;
  margin-bottom: 0;
}

.card-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.card-item-last {
  padding: 10px 0;
}

.title-newpage {
}

.title1 {
  height: 40px;
}

.title2 {
  height: 94px;
}

.title3 {
  height: 148px;
}

.btn-img {
  border: 1px solid;
  padding: 0 !important;
  border-radius: 3px;
}

.input-last {
  display: flex;
  flex-direction: column;
}

.input-last select,
.input-last input {
  height: 40px;
}

.btn-group {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.btn {
  min-width: 100px;
}

.col-last {
  display: flex;
  flex-direction: column;
}
.btn-submit {
  background-color: #f0f3f5;
}
</style>
