<template>
  <div id="main">
    <div>
      <AppHeader />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-link sidebar d-flex">
          <AppMenu />
        </div>
        <main role="main" class="col-md-10 p-0">
          <div id="page">
            <div class="page-body">
              <div class="card">
                <h4 class="card-title">List Blog</h4>
                <div class="card-body">
                  <b-table
                    class="align-middle text-center"
                    bordered
                    responsive
                    hover
                    :items="listBlog"
                    :fields="fields"
                  >
                    <template v-slot:cell(category)="{ item }">
                      <span>{{ convertCategory(item.category) }}</span>
                    </template>
                    <template v-slot:cell(public)="{ item }">
                      <span>{{ item.public === true ? "Yes" : "No" }}</span>
                    </template>
                    <template v-slot:cell(position)="{ item }">
                      <span>{{ convertPositon(item.position) }}</span>
                    </template>
                    <template v-slot:cell(Edit)="{ item }">
                      <span>
                        <nuxt-link
                          type="button"
                          class="btn btn-outline-primary"
                          :to="'/blog/' + item.id"
                        >
                          Edit
                        </nuxt-link>
                      </span>
                    </template>
                    <template v-slot:cell(Delete)="{ item }">
                      <span>
                        <ModalVue
                          :ID="item.id"
                          @on-modal="handleOnModal(item.id)"
                        />
                      </span>
                    </template>
                  </b-table>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <div id="footer">
      <AppFooter />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {
  LIST_CATEGORY,
  LIST_POSITION,
  BASE_URL,
} from "../../constans/constans.js";
import ModalVue from "../../modal-vue/ModalVue.vue";
import Vue from "vue";
import Toast from "vue-toastification";
import "vue-toastification/dist/index.css";
Vue.use(Toast, {
  transition: "Vue-Toastification__bounce",
  maxToasts: 20,
  newestOnTop: true,
});
export default {
  props: {
    /**
     * Prop listBlog
     */
    listBlog: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      fields: [
        { key: "id", label: "id" },
        { key: "title", label: "Tin" },
        { key: "category", label: "Loại" },
        { key: "public", label: "Trạng thái" },
        { key: "position", label: "Vị trí" },
        { key: "data_pubblic", label: "Ngày public" },
        "Edit",
        "Delete",
      ],
      showModal: false,
    };
  },
  computed: {
    /**
     * Computed BaseURL
     * @return BaseURL
     */
    BaseURL() {
      return BASE_URL;
    },
  },
  methods: {
    /**
     * Function handleDelete
     * @param id
     * @param item
     */
    async handleDelete(itemId) {
      try {
        const res = await axios.delete(`${BASE_URL}/${itemId}`);
        if (res) {
          this.listBlog = this.listBlog.filter((item) => item.id !== itemId);
          this.$toast.success(
            `Awesome, you have successfully deleted this blog with id: ${itemId}!`,
            {
              position: "top-right",
              timeout: 3000,
              closeOnClick: true,
              pauseOnFocusLoss: true,
              pauseOnHover: true,
              draggable: true,
              draggablePercent: 0.6,
              showCloseButtonOnHover: false,
              hideProgressBar: false,
              closeButton: "button",
              icon: true,
              rtl: false,
            }
          );
        }
      } catch (error) {
        console.log(error);
        this.$toast.error(
          `Sorry, you failed to delete the blog with the id: ${itemId}!`,
          {
            position: "top-right",
            timeout: 3000,
            closeOnClick: true,
            pauseOnFocusLoss: true,
            pauseOnHover: true,
            draggable: true,
            draggablePercent: 0.6,
            showCloseButtonOnHover: false,
            hideProgressBar: false,
            closeButton: "button",
            icon: true,
            rtl: false,
          }
        );
      }
    },
    /**
     * Function editItem
     * @param id
     * @param item
     */
    /**
     * Function ConvertCategory
     * @param id
     * @param category
     * @return category name
     */
    convertCategory(categoryId) {
      const category = LIST_CATEGORY.find(
        (cate) => cate.categoryId === categoryId
      );
      return category?.name;
    },
    /**
     * Function ConvertPositon
     * @param id
     * @param category
     * @return ListPosition
     */
    convertPositon(arrPosition) {
      const listPosition = [];
      arrPosition?.forEach((position) => {
        listPosition.push(
          LIST_POSITION.find((posi) => posi.positionId === position)
            .positionName
        );
      });
      return listPosition.join(", ");
    },
    handleOnModal(id) {
      console.log(id);
      this.handleDelete(id);
    },
  },
  components: { ModalVue },
};
</script>

<style>
.page-body {
  background-color: #e0d9d9b0;
  padding: 16px 8px;
  min-height: 1000px;
}

.card {
  border-radius: 5px;
}

.card-title {
  padding: 16px 18px;
  background-color: #f2f2f2;
  margin-bottom: 0;
}
.table thead th {
  vertical-align: middle;
}
.table tbody tr td {
  vertical-align: middle;
}
.btn {
  min-width: 0 !important;
}
</style>
